@import url("https://use.typekit.net/yuy5pav.css");

:root {
  --azul-escuro1: #071954;
  --azul-escuro2: #172d78;
  --azul-escuro3: #1f3a93;
  --amarelo: #ffcc00;
  --cinza: #dce3f2;
}

.nav-usuario {
  background-color: var(--azul-escuro2);
  width: 20%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.nav-usuario ul {
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.nav-usuario ul li {
  padding: 10px;
  color: #ffffff;
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

.nav-usuario button {
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}
.nav-usuario button.ativo {
  background-color: var(--amarelo) !important;
  padding: 10px;
}
.nav-usuario button:hover {
  background-color: var(--amarelo) !important;
  border-radius: 10rem;
}

.usuario {
  width: 100%;
}

.form-control {
  border: none;
  box-shadow: none !important;
}
form :focus {
  box-shadow: none !important;
}
form :focus-visible {
  box-shadow: none !important;
}

.btn :active {
  border: none;
}

.div-usuario {
  color: var(--azul-escuro2) !important;
}

.div-usuario .bi-person-circle {
  font-size: 3rem;
}

.div-usuario p {
  color: var(--azul-escuro3);
  font-weight: 300;
}

.container-usuario {
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

.bemvindo-usuario {
  color: var(--azul-escuro2);
}

.div-contas-total {
  background-color: var(--azul-escuro2);
  font-size: 2.5rem;
  width: 17rem;
}

.div-contas {
  border: solid var(--azul-escuro2) 2px;
  color: var(--azul-escuro2);
  width: 14rem;
  transition: all 0.5s;
}

.div-contas .bi {
  font-size: 2rem;
}
.div-contas p {
  font-size: 2rem;
}

.div-notificacoes {
  width: 75%;
  background-color: #ffffff;
  color: var(--azul-escuro2);
}

.div-notificacoes p {
  font-size: 2.5rem;
}
.notificacoes table {
  width: 100%;
}

.graficos {
  margin-left: 45vh;
  width: 76%;
}

:root {
  --azul-escuro1: #001955;
  --azul-escuro2: #172d78;
  --azul-escuro3: #1f3a93;
  --amarelo: #ffcc00;
  --cinza: #dce3f2;
  --branco: #ffffff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
  display: none;
}

.escondido {
  display: none;
}

.visivel {
  display: block;
  position: fixed;
}

.modal-u {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: var(--branco) !important;
  overflow: hidden;
  width: 45%;
  height: 85%;
  overflow-y: scroll;
}

.fonte {
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--azul-escuro2);
  font-size: 2.3rem;
}

.modal-u h2 {
  color: var(--azul-escuro2) !important;
  font-family: "Crimson Pro", sans-serif;
  font-weight: 700;
}

.modal-u p {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: var(--azul-escuro2);
}

.modal-cover {
  height: 7rem;
  width: 100%;
}

.modal-cover img {
  height: 7rem;
  width: 100%;
}

.modal-top-cover-logo {
  position: absolute;
  z-index: 10;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10rem;
  width: 10rem;
}

.modal-top-cover-logo img {
  height: 10rem;
  width: 10rem;
}

.modal-u input {
  background-color: transparent;
  border: solid var(--azul-escuro2) 2px;
  padding: 0.5rem;
  color: var(--azul-escuro2);
}

.modal-u input:focus-visible {
  background-color: transparent;
  border: solid var(--azul-escuro2) 2px;
  outline: none;
}

.modal-u input::placeholder {
  color: var(--azul-escuro2);
}

.modal-u input::-webkit-outer-spin-button,
.modal-u input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropDown-selecionado {
  box-shadow: 5px 5px 5px #050e25ac;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 7rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--amarelo);
  position: absolute;
  z-index: 10;
  width: 57%;
}

.categoria .bi {
  color: var(--azul-escuro2);
}

.categoria button {
  border: none;
  background-color: transparent;
  color: var(--azul-escuro2);
  font-weight: 600;
}

.categoria button:hover {
  border: none;
  background-color: var(--branco);
  color: var(--azul-escuro2);
  font-weight: 600;
}
.categoria button:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 15px var(--azul-escuro3);
}

.button-fechar-modal {
  box-shadow: inset 0 0 0 0 var(--azul-escuro2);
  background-color: transparent;
  border: var(--azul-escuro2) solid;
  font-weight: 600;
  transition: all 0.5s;
  color: var(--azul-escuro2) !important;
  font-family: "Barlow Condensed", sans-serif;
  font-style: bold;
}

.button-fechar-modal:hover {
  box-shadow: inset 600px 0 0 0 var(--azul-escuro2);
  color: var(--branco) !important;
}

.button-modal {
  background-color: var(--amarelo);
  color: var(--azul-escuro2);
  font-weight: 700;
  color: var(--azul-escuro2) !important;
  font-family: "Barlow Condensed", sans-serif;
  font-style: bold;
  border: none;
}

td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--azul-escuro3);
}

th {
  background-color: var(--amarelo);
  color: #ffffff;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--azul-escuro3);
}

tr:hover {
  background-color: var(--azul-escuro2);
  color: #ffffff;
  cursor: pointer;
}

.notificacoes tr {
  margin: 2rem 0rem;
}

.notificacoes th {
  font-weight: 600;
  padding: 1rem;
  margin: 0rem;
  text-align: left;
}

.notificacoes td {
  padding: 1rem 1rem;
  text-align: left;
}

.perfil {
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  color: var(--azul-escuro2);
  background-color: #ffffffa1;
  width: 60%;
  box-shadow: -2px 2px 9px -1px rgba(151, 148, 148, 0.74);
  -webkit-box-shadow: -2px 2px 9px -1px rgba(151, 148, 148, 0.74);
  -moz-box-shadow: -2px 2px 9px -1px rgba(151, 148, 148, 0.74);
}

.div-icone-usuario i {
  color: var(--azul-escuro2);
  font-size: 5rem;
}

.div-icone {
  background-color: #ffffffa1;
  height: fit-content;
  box-shadow: 0px 0px 6px #c8c8c8;
  width: fit-content;
}

.div-icone i {
  margin: 0;
  font-size: 2rem;
}

.div-informacoes-usuario {
  background-color: var(--branco);
}

.div-email {
  border-bottom: var(--cinza) 2px solid;
}

.info-usuario h4 {
  margin: 0;
}

.link {
  text-decoration: none !important;
  color: var(--azul-escuro2);
}

.button-sair {
  background-color: var(--amarelo);
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  color: var(--azul-escuro2);
  transition: all 0.5s;
}

.button-voltar {
  background-color: var(--amarelo);
  color: var(--azul-escuro2);
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

.button-sair:hover {
  background-color: var(--azul-escuro2);
  color: var(--branco) !important;
}

@media (max-width: 670px) {
  .perfil {
    width: 100%;
  }

  .table-header {
    display: none !important;
  }

  td {
    display: grid;
    gap: 5rem;
    grid-template-columns: 3ch auto;
  }
  td::before {
    content: attr(data-th) ": ";
    font-weight: 600;
  }
  .div-notificacoes {
    width: 100%;
  }
}
