.nav-usuario {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.nav-usuario ul {
    list-style: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.nav-usuario ul li {
    padding: 10px;
}

.nav-usuario button {
    background-color: transparent;
    border: none;
}

.formulario-lancamento {
    background-color: #071954;
    border-radius: 20px;
}

.custom-input {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.custom-input::placeholder {
    color: #ddd;
}

.custom-input:focus {
    background-color: transparent;
    color: white;
    border-color: white;
    box-shadow: none;
}
