@import url("https://use.typekit.net/yuy5pav.css");

:root {
  --azul-escuro1: #001955;
  --azul-escuro2: #172d78;
  --azul-escuro3: #1f3a93;
  --amarelo: #ffcc00;
  --cinza: #dce3f2;
}

body{
  font-family: "barlow-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

.relatorios-usuario{
    color: var(--azul-escuro2);
}

.relatorios-usuario h2{
  color: var(--azul-escuro2);
}