@import url("https://use.typekit.net/yuy5pav.css");

:root {
  --azul-escuro1: #001955;
  --azul-escuro2: #172d78;
  --azul-escuro3: #1f3a93;
  --amarelo: #ffcc00;
  --cinza: #dce3f2;
}

.modal{
    color: white !important;
}

.modal input{
    background-color: transparent;
    border: solid white 2px ;
}
.modal input:focus-visible{
    background-color: transparent;
    border: solid white 2px ;
}

.modal-top-cover-avatar{
    background-color: var(--azul-escuro2);
}

.modal-body{
    background-color: var(--azul-escuro2);
}

.dropDown-selecionado{
    box-shadow: 5px 5px 5px #050e25ac;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 7rem;
    overflow-y: scroll;
    background-color: var(--amarelo);
    position: absolute;
    z-index: 10;
}

.modal-footer{
    background-color: var(--azul-escuro2);
}