@import url("https://use.typekit.net/yuy5pav.css");

:root {
    --azul-escuro1: #001955;
    --azul-escuro2: #172d78;
    --azul-escuro3: #1f3a93;
    --amarelo: #ffcc00;
    --cinza: #dce3f2;
    --branco: #ffffff;
  }

.link {
  text-decoration: none;
  color: var(--azul-escuro2);
}

.div-usuario {
  color: var(--azul-escuro2);
}

.div-usuario .bi-person-circle {
  font-size: 3rem;
}

.formulario-lancamento {
  background-color: #071954;
  border-radius: 20px;
}

.custom-input {
  border: 1px solid white !important;
  background-color: transparent;
  color: white;
}

.custom-input::placeholder {
  color: #ddd;
}

.custom-input:focus {
  background-color: transparent;
  color: white;
  border-color: white;
  box-shadow: none;
}

.color{
    color: var(--azul-escuro2);
}

.div-lancamentos{
    font-family: "barlow-condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--azul-escuro2);
}

form :focus {
  outline: none;
  box-shadow: none !important;
}
form :not(:focus) {
  border: none;
  outline: none;
  box-shadow: none !important;
}
form :focus-visible {
  box-shadow: none !important;
  border: none;

}